.x
{
    text-align: center;
    background-color: rgb(148, 180, 154);
    color: rgb(108, 15, 230);
    font-size: large;
    font-weight: bold;
    width: 30%;
    margin-left: 30%;
    padding: 5%;
}
.x{
    margin-top: 10%;
}