.x
{
    text-align: center;
    background-color: rgb(84, 74, 74);
    color: rgb(251, 223, 16);
    font-size: large;
    font-weight: bold;
    width: 30%;
    margin-left: 30%;
    padding: 5%;
}
.x{
    margin-top: 10%;
}